<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>ebay Form</title>
  <!-- Bootstrap core CSS -->
  <link href="/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/main.css" rel="stylesheet">
</head>

<body>
	<input type="hidden" class="form-control" id="" name="formId" required minlength="2" maxlength="10" value="{{info.formId}}">
		
      <div class="col-sm-12 col-md-12 main">
        <h2 class="sub-header">edit into Form</h2>
        <form action="/edit" method="post">
          <div class="form-group">
            <label for="">SKU (custom label)</label>
            <input type="text" class="form-control" id="" name="sku" required minlength="2" maxlength="10" value="{{info.sku }}">
          </div>
          {{each info.ims}}
          <img src="{{$value}}">
          {{/each}}
          <!--
          <div class="form-group">
            <label for=""></label>
           
            <div>
              <label class="radio-inline">
                <input type="radio" name="gender" id="" value="male" checked> 男
              </label>
              <label class="radio-inline">
                <input type="radio" name="gender" id="" value="female"> 女
              </label>
            </div>
          </div>
          <div class="form-group">
            <label for="">年龄</label>
            <input class="form-control" type="number" id="" name="age" required min="1" max="150">
          </div>
          <div class="form-group">
            <label for="">爱好</label>
            <input class="form-control" type="text" id="" name="hobbies">
          </div> -->
          
          <button type="submit" class="btn btn-default">Submit</button>


        </form>
      </div>
    </div>
  </div>
</body>

</html>

